<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd">
	<import resource="classpath:applicationContext-datasource.xml"/>
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="mapperLocations" value="classpath:mybatis/**/*.xml"/> <!-- Mapper xml -->
		<property name="configLocation" value="classpath:mybatis-config.xml" />

	</bean>

	<bean class="tk.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.zzr.business.mapper"/>
		<property name="markerInterface" value="com.zzr.core.repository.map.ZzrMapper"/>
		<property name="properties">
			<value>
				mappers=com.zzr.core.repository.map.ZzrMapper
			</value>
		</property>
	</bean>
</beans>