<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="1800">
    <properties>
        <property name="LOG_HOME">/logs/look</property>
        <Property name="PATTERN">%d %-5p [%t] %C{1} (%F:%L) - %m%n</Property>
    </properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <RollingFile name="RollingFile" fileName="${LOG_HOME}/last.log" filePattern="${LOG_HOME}/$${date:yyyy-MM}/site-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="${PATTERN}" />
		    <SizeBasedTriggeringPolicy size="10MB" />
		</RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="org.springframework" level="info" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="java.sql.ResultSet" level="info" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="com.zzr" level="debug" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Logger>
        <Root level="error">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>